#anki {
    display: inline;
}

#monthAndYear {
    text-align: center;
}

#calendar {
    width: fit-content;
    margin: auto;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    background-color: beige;
}
